<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ganas.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E0D1C8C4040F0D5070BE9C60C8A251A7D293B431</string>
				<key>dateExpires</key>
				<string>7/18/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>V7PV7RTR86.org.kuip.ganas</string>
				<key>com.apple.developer.team-identifier</key>
				<string>V7PV7RTR86</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ganas.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>32291482-c8da-457f-b792-d5454b40611c</string>
				<key>dateExpires</key>
				<string>7/18/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.kuip.ganas</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>V7PV7RTR86</string>
				<key>name</key>
				<string>Kuip Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
