<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/ark-us/ganas-releases/raw/main/ganas-0.1.0/ganas.ipa</string>
		<key>displayImageURL</key>
		<string>https://raw.githubusercontent.com/ark-us/ganas-releases/main/images/logo-57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://raw.githubusercontent.com/ark-us/ganas-releases/main/images/logo-512.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>V7PV7RTR86</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
